body {
    margin: 0px;
    padding: 0px;
    background-image: radial-gradient(#c7c7c7 25%, #c7c7c7 74%);
    font-family: 'Times New Roman', Times, serif;
}

.fix{
    clear: both;
}

.page{
    height: 1100px;
    width: 800px;
    background-color: rgb(226, 209, 209);
    box-shadow: 5px 7px 15px 5px #b9b6b6;
    margin: 20px auto;
}
.top{
    background-color:rgb(160, 157, 157);
    text-align: center;
    padding: 10px;
    
}
.profile{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    
    
}
.head{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 800;
    color: darkblue;
}
.a1{
    color: white;
    font-size: 40px;
    font-weight: bold;
    margin: 0px;
    margin-top: 10px;
}

.a2{
    letter-spacing: 5px;
    color: white;

}

.a3{
    width: 35%;
    float: left;
}

.content-box{
    padding: 20px;
}

.a4{
    width: 62%;
    float: left;
}
.line{
    border-left: 1px solid #c7c7c7;
    height: 800px;
    width:2%;
    margin-top: 30px;
    float: left;
}